
<h2>Your question: "<%= @query %>"</h2>
<p></p>
<p></p>
<h2>Coach's answer: <%= @answer %> text-center</h2>
<p></p>
<p></p>
<p></p>

<h5>Click here if you have another question: <%= link_to "query", ask_path %></h5>
